@import "tailwindcss";

:root {
  --font-family-space-grotesk: "Space Grotesk", sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-family-space-grotesk);
  padding: 0;

}
html{
  min-width: 100vw;
  min-height: 100vh;
}
body{
  min-width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
#bg{
 
  padding-left: 19px;
 

}
#num{
  padding-top: 37px;
  font-size: 18px;
  height: 30px;
  padding-bottom: 17px;
  width: 260px;
 color: var(--White, #FFF);
 font-family: var(--font-family-space-grotesk);
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 2.2px;

}
.wrap{
  margin-top: 17px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: auto;
}
#r-card{
  margin-top: 35px;
  margin-right: 16px;
}
#in{
  text-align: center;
  border-radius: 8px;
  border:1px solid var(--Light-Grey, #DFDEE0) ;
}
#inp{
  text-align: center;
  border-radius: 8px;
  border:1px solid var(--Light-Grey, #DFDEE0) ;
}
#inpu{
  text-align: center;
  border-radius: 8px;
  border:1px solid var(--Light-Grey, #DFDEE0) ;
}
@media(min-width:1024px){
 #r-card{
  margin-top: 180px;
  margin-left: 330px;
 }
}