@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  padding: 0;

}
html{
  min-width: 100vw;
  min-height: 100vh;
}
body{
  min-width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
#bg{
 
  padding-left: 19px;
 

}
#num{
  padding-top: 37px;
  font-size: 18px;
  height: 30px;
  padding-bottom: 17px;
  width: 239px;
 color: var(--White, #FFF);
 font-family: "Space Grotesk";
 font-size: 18px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 2.2px;

}
.wrap{
  margin-top: 17px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: auto;
}
#r-card{
  margin-top: 35px;
  margin-right: 16px;
}